#creature-form {
    background: #eeeeee;
    padding: 20px;
    margin: 50px;
}

#creature-list {
    background: rgb(227, 245, 237);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}
